.main {
  box-sizing: content-box;
  height: 100vh;
  padding: 0;
  width: 60%;
}

.main h1 {
  color: #444;
  text-align: center;
}

.book-list {
  display: flex;
  list-style: none;
  padding: 0;
}

.book-list li {
  border-radius: 4px;
  border: 1px solid #880E4F;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
  color: #880E4F;
  cursor: pointer;
  margin: 12px;
  padding: 10px;
}

form {
  background-color: #FFF;
  bottom: 0;
  left: 0;
  padding: 20px;
  position: fixed;
  width: 400px;
}

form .field {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
}

form .field > input, select {
  box-sizing: border-box;
  margin: 4px;
  padding: 6px;
  width: 200px;
} 

form label {
  padding: 6px;
  text-align: right;
}

form button {
  background-color: #AD1457;
  border-radius: 50%;
  border: none;
  bottom: 10px;
  color: #FFF;
  cursor: pointer;
  font-size: 2em;
  left: 10px;
  padding: 0 10px;
  position: absolute;
}

.book-details {
  background-color: #AD1457;
  box-shadow: -2px -3px -5px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  color: #FFF;
  height: 100%;
  overflow: auto;
  padding: 30px;
  position: fixed;
  right: 0;
  top: 0;
  width: 40%;
}